/* Self-hosted variable fonts (latin subsets) — no third-party requests.
   Archivo: industrial grotesk with weight + width axes, used for display.
   Inter: text face. Both SIL Open Font License. */

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62% 125%;
  font-display: swap;
  src: url("../assets/fonts/archivo.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("../assets/fonts/inter.woff2") format("woff2");
}
